<!-- order-form.component.html -->
<h1>{{title}}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Product</label>
            <select 
                formControlName="productId" 
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.productId.errors }"
                (change)="onProductSelect($event)">
                <option value="">Select a product</option>
                <option *ngFor="let product of products" [value]="product.id">
                    {{product.name}} - ₱{{product.price}}
                </option>
            </select>
            <div *ngIf="submitted && f.productId.errors" class="invalid-feedback">
                <div *ngIf="f.productId.errors.required">Product is required</div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="quantity">Quantity</label>
            <input 
                type="number" 
                formControlName="quantity" 
                class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                min="1"
            />
            <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                <div *ngIf="f.quantity.errors.min">Quantity must be at least 1</div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Shipping Address</label>
            <textarea 
                formControlName="shippingAddress" 
                class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.shippingAddress.errors }"
            ></textarea>
            <div *ngIf="submitted && f.shippingAddress.errors" class="invalid-feedback">
                <div *ngIf="f.shippingAddress.errors.required">Shipping Address is required</div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/order" class="btn btn-link">Cancel</a>
    </div>
</form>

<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>