<div class="p-4">
    <div class="container">
      <h1>My Orders</h1>
      <p *ngIf="!orders?.length">You have no orders at the moment.</p>
  
      <!-- Create Order Button -->
      <div class="mb-3" *ngIf="isUser">
        <a routerLink="/order/management/add" class="btn btn-success btn-sm">Create Order</a>
      </div>
       <!-- Select Order to Track -->
       <div class="mb-3" *ngIf="isUser">
        <label for="orderSelect"><h5>Track order Status:</h5></label>
        <select id="orderSelect" class="form-control" (change)="onOrderSelect($event)">
          <option value="">--Select an Order--</option>
          <option *ngFor="let order of orders" [value]="order.id">{{order.Product?.name}}</option>
        </select>
      </div>

      <!-- Display Order Status -->
      <div *ngIf="selectedOrderStatus" class="alert alert-info">
        <strong>Order Status:</strong> {{ selectedOrderStatus }}
      </div>
      <!-- Orders in cards -->
      <div *ngIf="isUser" class="scroll-container" style="max-height: 500px; overflow-y: auto; padding: 10px; border: 1px solid #ddd; border-radius: 5px;" >
      <div class="row">
        <div *ngFor="let order of orders" class="col-md-4">
          <div class="card mb-3">
            <div class="card-header bg-info">
              <strong>Order ID:</strong> {{ order.id }}
            </div>
            <div class="card-body">
              <p><strong>Product:</strong> {{order.Product?.name}}</p>
              <p><strong>Address:</strong> {{ order.shippingAddress }}</p>
              <p><strong>Total Item:</strong> {{order.quantity}}</p>
              <p><strong>Total Price:</strong> ₱{{ order.totalAmount }}</p>
              <p><strong>Status:</strong> {{ order.orderStatus }}</p>
              <p><strong>Date:</strong> {{ order.createdAt | date:'short' }}</p>
              
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-danger btn-sm" *ngIf="!order.isCancelling" (click)="cancelOrder(order.id)">Cancel</button>
              <div class="spinner-border spinner-border-sm" *ngIf="order.isCancelling"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>